@{
    ViewBag.Title = "GetTitle";
}
<br /><br />
<div class="nav_d">
    <ul>
        <li><h2>@ViewBag.str1</h2></li>
        <li><h2>@ViewBag.str2</h2></li>
        <li><h2>@ViewBag.str3</h2></li>
        <li><h2>@ViewBag.isExist</h2></li>
    </ul>
</div>

