@{
    ViewBag.Title = "站点配置";
}
<br><br>
<div class="nav_d">
<form id="from1" action="~/Home/LoginList" method="get">

    <h2><span>口令：&nbsp; <input type="text" name="password" size="80" class="text1"/></span></h2><br>
    <input type="submit" value="登入" class="submit1" /><br>
</form>
</div>