@{
    ViewBag.Title = "WatermarkConfig";
}

<h2>WatermarkConfig</h2>

<table id="WatermarkC" class="tb">
    <tr>
        <th>站点名称</th>
        <th><input type="text" name="ListUrl" size="100" value="dsfsd" class="text1"/></th>
    </tr>
    
    <tr>
        <th>水印X坐标</th>
        <th><input type="text" name="ListUrl" size="100" value="dsfsd" class="text1"/></th>
    </tr>
    
    <tr>
        <th>水印Y坐标</th>
        <th><input type="text" name="ListUrl" size="100" value="dsfsd" class="text1"/></th>
    </tr>
    
    <tr>
        <th>dssfds</th>
        <th><input type="text" name="ListUrl" size="100" value="dsfsd" class="text1"/></th>
    </tr>

</table>
