@{
    ViewBag.Title = "WatermarkConfig";
}

<br />

<table id="WatermarkC" class="tb">
    <tr>
        <th>站点名称</th>
        <th><input type="text" name="SiteName" size="100" class="text1"/></th>
    </tr>
    
    <tr>
        <th>水印X坐标</th>
        <th><input type="text" name="WaterMark_X" size="100" class="text1"/></th>
    </tr>
    
    <tr>
        <th>水印Y坐标</th>
        <th><input type="text" name="WaterMark_Y" size="100" class="text1"/></th>
    </tr>
    
    <tr>
        <th>水印长度</th>
        <th><input type="text" name="WaterMark_H" size="100" class="text1"/></th>
    </tr>
    <tr>
        <th>水印宽度</th>
        <th><input type="text" name="WaterMark_W" size="100" class="text1"/></th>
    </tr>
    <tr>
        <th><input type="submit" value="保存" class="submit1" /></th>
        <th></th>
    </tr>

</table>
